# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (if ever used)
Pods/
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png

# Xcode results
*.xcresult
